*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, dialog 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*----HEADER_CONTACT---*/
.nav1
{
    display: flex;
    justify-content: space-between;
}
.header_contact
{
    width: 100%;
    background-color: #f7f8fa;
    height: 35px;
}
.header_contact_link1,.header_contact_link2
{
    display: inline-block;
    display: flex;
    margin-top: 6px;
    color: #888888;

}
.contact__link, .contact__link1
{
    list-style: none;
    padding-right: 12px;
}
.contact__link1
{
    border-left: 2px solid #f7e0cb;
    padding-left: 12px;
}
.header_contact_link1 span
{
    color: #97ca51;
}

/*---HEADER_NAV2*/

.header_nav2
{
    display: flex;
    
}
.wrapper
{
    max-width: 1200px;
    width: 100%;
    /*padding: 0 15px;*/
    margin: 0 auto;
    display: flex;
}
.header_nav2_logo, .header_nav2_search, .header_nav2_giohang, .header_nav2_nguoidung
{
    list-style: none;
    display: inline-block;
    margin-top: 31px;
}
.header_nav2_logo
{
    cursor: pointer;
}
.header_nav2_search
{
    margin-top: 43px;
    padding-left: 100px;
    cursor: pointer;
    border:#94cc51 ;
}
.icon-seach
{
    padding: 10px 10px ;
    background-color:#94cc51;
    color: white;
    border-radius: 4px;
    margin-left: -32px;
    cursor: pointer;
}

.header_nav2_giohang
{
    margin-top: 49px;
    padding-left: 50px;
}
.header_nav2_giohang > span
{
    padding: 6px 14px;
    margin-top: 47px;
    border: 3px solid #94cc51;
    border-radius: 4px;
}
.header_nav2_nguoidung
{
    margin-top: 49px;
    padding-left: 33px;
}
.header_nav2_nguoidung > span
{
    padding: 6px 14px;
    margin-top: 47px;
}
input
{
    width: 414px;
    height: 33.4px;
    border-color: #94cc51;
    border-radius: 6px;
  
}

/*---MENU---*/
.sub_menu
{
    display:block;
    clear:both;          
}
.header_menu
{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    background:#191919;
}
.main_menu
{
    width: 1000px;
    margin: 155px;
    height: 53px;
    margin-top: 31px;
}
.main_menu li
{
    margin:0px;
    list-style:none;
}
.main_menu li:hover
{
    text-decoration:none;
    cursor: pointer;
    background-color:#94cc51 ;
} 
.main_menu > ul > li 
{
    display:inline-block;
    position:relative;
    font-size:15px;
}
.main_menu > ul > li
{
    margin-top: 5px;
    padding: 12px 20px;
    display:inline-block;
    color:white;
}
#home-icon, #aboutus-icon
{
    text-decoration: none;
    color: #f3f4f6;
}

/* BODY */
.categories
{
	width: 196px;
	height: 510px;
	margin-top: 10px;
	float: left;
    border-radius: 3px;
}

.title-cate 
{
    width: 255px;
    height: 42px;
    font-size: 21px;
    color: white;
    text-align: -webkit-center;
    font-weight: bolder;
    line-height: 43px;
    background-color: darkgreen;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.menu-cate
{
	width: 196px;
	height: 450px;
	float: left;
    margin-top: 10px;
}

.menu-cate ul
{
	text-align: left;
	list-style: none;
    width: 245px;
}

.menu-cate ul li 
{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #e1ebd0;
    padding: 10px 10px;
    background-color: firebrick;
    border-radius: 10px;
    margin: 4px;
    margin-left: 15px;
    font-weight: bold;
    font-family: none;
}
.menu-cate li:hover
{
    text-decoration:none;
    cursor: pointer;
    background-color:#d7d8b0 ;
} 
#icon-cate
{
    text-decoration: none;
    color: #eae6da;
}
.icon-bookmark
{
    color: #d7d8b0;
    margin-left: 16px;
}
.body-content 
{
    margin-top: -134px;
}
.list-new-full
{
    line-height: 30px;
}
.right-content 
{
    margin-left: 80px;
    margin-top: 28px;
    padding-left: 20px;
}
.left-content
{
    margin-top: -6px;
}
.content
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: crimson;
    margin-bottom: 20px;
    text-align: center;
}
.title-policy ul li
{
    list-style: none;
    padding-top: 10px;
}
.icon-check
{
    color:maroon;
}
#icon-policy
{
    text-decoration: none;
    color: black;
}
.icon-circle
{
    font-size: 8px;
}

/* ----FOOTER---*/
.container1
{
    background: #173b51;
    color: #5f8288;
    height: 425px;
}
.info_footer1 > h4
 {
    color: #bfd4e5;
    padding-left: 59px;
    margin-bottom: -3px;
}

.info_footer2 > h4, .info_footer3 > h4
{
    color: #bfd4e5;
    margin-bottom: -8px;

}

.info_footer1, .info_footer2, .info_footer3
{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-left: 100px;
}
.info_footer1
{
    margin-top: 112px;
}
.noidung, li
{
    font-size: 15px;
}
.info_footer1, .contact__container
{
    list-style: none;
    padding-left: 58px;
}
#info
{
    margin-bottom: -22px;
    width: 100%;
}
.noidung_container
{   
    width: 100%;
    margin-top: 35px;
}
img.img-item 
{
    max-width: none;
}

/* GIAO DIỆN MOBILE */
@media (max-width: 767px) 
{
	.img-thangnhom1 
    {
        width: 100%;
        display: block;
	}
	/*.img-thangnhom2 
    {
		
	}*/
	/*li.thangnhom2 
    {
		width: 25%;
        padding: 0 10px;
	}*/
    .img-thangnhom
    {
        display: block;
    }
    .nav1, .header_contact_link1, .header_nav2, .slider-sanpham , 
    .allsanpham_right, .wrapper1, ul.wrap-sanphambanchay, .img-thangnhom1 ,ul.img-thangnhom2, .img-thanhnhom,
    .wrapper-thongtinkhac, .thongtinkhacchitiet2 li, .info_footer1, .info_footer2, .info_footer3
    {
        display: block;
        width: 100%;
    }
    .header_nav2 
    {
        padding: 64px 37px;
    }
    .noidung, li 
    {
        font-size: 17px;
        font-weight: bold;
    }
    .contact__link1 
    {
        border-left: 2px solid #f7f8fa;
        padding-left: 1px;
        padding-top: 5px;
    }
    .grid.wide 
    {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 5px;
        text-align: center;
}
    .header_contact 
    {
        width: 111%;
        background-color: #f7f8fa;
        height: 93px;
    }
    ul.header_contact_link2 
    {
        padding-left: 143px;
    }
    .header_nav2_logo
    {
        cursor: pointer;
        margin-top: -52px;
        padding-left: 38px;
    }
    .header_nav2_search 
    {
        margin-top: 12px;
        padding: 0;
        cursor: pointer;
        border: #94cc51;
    }
    input 
    {
        width: 155%;
        height: 33.4px;
        border-color: #94cc51;
        border-radius: 6px;
        padding-left: 11px;
    }
}
