*{
    margin: -1px;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    width: 100%;
}

/*----HEADER_CONTACT---*/
.nav1
{
    display: flex;
    justify-content: space-between;
}
.header_contact
{
    width: 100%;
    background-color: #f7f8fa;
    height: 35px;
}
.header_contact_link1,.header_contact_link2
{
    display: inline-block;
    display: flex;
    margin-top: 6px;
    color: #888888;

}
.contact__link, .contact__link1
{
    list-style: none;
    padding-right: 12px;
}
.contact__link1
{
    border-left: 2px solid #f7e0cb;
    padding-left: 12px;
}
.header_contact_link1 span
{
    color: #97ca51;
}
input
{
    width: 414px;
    height: 33.4px;
    border-color: #94cc51;
    border-radius: 6px;
  
}
/*---HEADER_NAV2---*/
.header_nav2
{
    display: flex;
    
}
.header_nav2_logo, .header_nav2_search, .header_nav2_giohang, .header_nav2_nguoidung
{
    list-style: none;
    display: inline-block;
    margin-top: 31px;
}
.header_nav2_logo
{
    padding-left: 158px;
    cursor: pointer;
}
.header_nav2_search
{
    margin-top: 43px;
    padding-left: 100px;
    cursor: pointer;
    border:#94cc51 ;
}
.icon-seach
{
    padding: 9.8px 10px ;
    background-color:#94cc51;
    color: white;
    border-radius: 4px;
    margin-left: -32px;
    cursor: pointer;
}

.header_nav2_giohang
{
    margin-top: 49px;
    padding-left: 50px;
}
.header_nav2_giohang > span
{
    padding: 6px 14px;
    margin-top: 47px;
    border: 3px solid #94cc51;
    border-radius: 4px;
}
.header_nav2_nguoidung
{
    margin-top: 49px;
    padding-left: 33px;
}
.header_nav2_nguoidung > span
{
    padding: 6px 14px;
    margin-top: 47px;
}


/*---MENU---*/
.sub_menu
{
    display:block;
    clear:both;          
}
.header_menu
{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    background:#191919;
}
.main_menu
{
    width: 1000px;
    margin: 155px;
    height: 53px;
    margin-top: 31px;
}
.main_menu li
{
    margin:0px;
    list-style:none;
}
.main_menu li:hover
{
    text-decoration:none;
    cursor: pointer;
    background-color:#94cc51 ;
} 
.main_menu > ul > li 
{
    float:left;
    display:inline-block;
    position:relative;
    font-size:15px;
}
.main_menu > ul > li
{
    margin-top: 5px;
    padding: 12px 20px;
    display:inline-block;
    color:white;
}

/* TITLE HEADER */
.banner_header
{
    width: 100%;
}
#banner
{
    margin-top: -155px;
    width: 100%;
}
/* BODY */
.sanpham
{
    display: inline-flex;
    margin-top: 19px;
}
ul.slider-sanpham 
{
    display: flex;
    text-align: center;
    background: #f5f5f5;
    padding: 11px;
    height: 117px;
}
.slider-sanpham li
{
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
    height: 100px;
    list-style: none;
    padding-left: 50px;
}
.sanpham-right
{
    padding-left: 40px;
}
.sanpham-left
{
    padding-left: 83px;
}
.sanphambanchay
{
    margin-top: 19px;
}
.wrap
{
    background: #f3f4f6;
    padding: 25px;
    position: relative;
}
.wrapper 
{
    margin-top: 20px;
}
.wrap-sanpham 
{
    padding-left: 107px;
}
ul.wrap-sanphambanchay
{
    display: flex;
    list-style: none;
    margin-top: -23px;
    border: 2px solid green;
    height: 380px;
    width: 1255px;
    padding: 3px;
}
.wrap-title span
{
    display: inline-block;
    background: #4caf50;
    font-size: 20px;
    color: #FFF;
    height: 49px;
    line-height: 49px;
    padding: 0 16px;
    position: relative;
    
}
.wrap-title
{
    text-align: center;
    width: 100%;
    margin-top: -24px;
}
.info-sanpham
{
    font-size: 11px;
    margin-top: -5px;
    padding-left: 5px;
    font-weight: bold;
    background-color: white;
    height: 24px;
}
.price-sanpham
{
    font-size: 15px;
    color: red;
    margin-top: 0px;
    padding-left: -1px;
    background-color: white;
    height: 35px;
}
.box-thangnhom
{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    margin: 10px 0;
    position: relative;
    height: 50px;
}
.danhmuc-thangnhom-left
{
    padding-left: 124px;
    background-color:#f3f4f6 ;
}
.danhmuc-thangnhom-right
{
    padding-left: 712px;
    background-color:#f3f4f6 ;
}
.danhmuc-thangnhom-left span
{
    padding: 10px 10px;
}
.danhmuc-thangnhom-right span
{
    padding: 10px 140px;
}
.img-thanhnhom
{
    display: flex;
    margin: 30px 47px;
    list-style: none;
}

ul.danhmuc-thangnhom1 ,ul.danhmuc-thangnhom2
{
    display: flex;
    list-style: none;
}
.info-thangnhom
{
    margin: 10px -1px;
    font-weight: bolder;
    font-size: 13.6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.price-thangnhom
{
    margin-top: 10px;
    color: red;
}
.buy-thangnhom
{
    margin-top: 10px;
    color: #94cc51;
}
.wrapper-thongtinkhac
{
    display: flex;
    justify-content: space-between;
}
.thongtinkhac1
{
    padding-left: 172px;
}
.content-thongtinkhacchitiet1
{
    font-size: 15.3px;
    margin-top: 15px;
}
ul.thongtinkhacchitiet2
{
    list-style: none;
}
.thongtinkhacchitiet2 li
{
    display: flex;
}
.img-thongtinkhacchitiet2, .content-thongtinkhacchitiet2
{
    margin: 5px;
}
.noidung-thongtinkhac2
{
    padding: 32px 74px;
    padding-left: 1px;
}
/* ----FOOTER---*/
.container1
{
    background: #173b51;
    color: #5f8288;
    height: 425px;
}
.info_footer1 > h4
{
    color: #bfd4e5;
    padding-left: 102px;
}
.info_footer2 > h4, .info_footer3 > h4, .info_footer4 > h4
{
    color: #bfd4e5;
}
.info_footer2 > h4
{
    margin-top: 10px;
}
.info_footer1, .info_footer2, .info_footer3, .info_footer4
{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-left: 100px;
}
.info_footer1
{
    margin-top: 100px;
}
.noidung
{
    font-size: 15px;
}
li
{
    font-size: 15px;
}
.info_footer1,.contact__container
{
    list-style: none;
    padding-left: 100px;
}

.info_footer4
{
    margin-top: -100px;
} 
#info
{
    margin-bottom: -22px;
    width: 100%;
}
.noidung_container
{   
    width: 100%;
    margin-top: 19px;
}