*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, dialog 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*----HEADER_CONTACT---*/
.nav1
{
    display: flex;
    justify-content: space-between;
}
.header_contact
{
    width: 100%;
    background-color: #f7f8fa;
    height: 35px;
}
.header_contact_link1,.header_contact_link2
{
    display: inline-block;
    display: flex;
    margin-top: 6px;
    color: #888888;

}
.contact__link, .contact__link1
{
    list-style: none;
    padding-right: 12px;
}
.contact__link1
{
    border-left: 2px solid #f7e0cb;
    padding-left: 12px;
}
.header_contact_link1 span
{
    color: #97ca51;
}

/*---HEADER_NAV2*/

.header_nav2
{
    display: flex;
    
}
.wrapper
{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header_nav2_logo, .header_nav2_search, .header_nav2_giohang, .header_nav2_nguoidung
{
    list-style: none;
    display: inline-block;
    margin-top: 31px;
}
.header_nav2_logo
{
    cursor: pointer;
}
.header_nav2_search
{
    margin-top: 43px;
    padding-left: 100px;
    cursor: pointer;
    border:#94cc51 ;
}
.icon-seach
{
    padding: 10px 10px ;
    background-color:#94cc51;
    color: white;
    border-radius: 4px;
    margin-left: -32px;
    cursor: pointer;
}

.header_nav2_giohang
{
    margin-top: 49px;
    padding-left: 50px;
}
.header_nav2_giohang > span
{
    padding: 6px 14px;
    margin-top: 47px;
    border: 3px solid #94cc51;
    border-radius: 4px;
}
.header_nav2_nguoidung
{
    margin-top: 49px;
    padding-left: 33px;
}
.header_nav2_nguoidung > span
{
    padding: 6px 14px;
    margin-top: 47px;
}
input
{
    width: 414px;
    height: 33.4px;
    border-color: #94cc51;
    border-radius: 6px;
  
}

/*---MENU---*/
a img
{
    transition-duration: 0.5s;
}
a img:hover
{
    transform:scale(1.05);
}
.sub_menu
{
    display:block;
    clear:both;          
}
.header_menu
{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    background:#191919;
}
.main_menu
{
    width: 1000px;
    margin: 155px;
    height: 53px;
    margin-top: 31px;
}
.main_menu li
{
    margin:0px;
    list-style:none;
}
.main_menu li:hover
{
    text-decoration:none;
    cursor: pointer;
    background-color:#94cc51 ;
} 
.main_menu > ul > li 
{
    display:inline-block;
    position:relative;
    font-size:15px;
}
.main_menu > ul > li
{
    margin-top: 4px;
    padding: 14px 20px;
    display:inline-block;
    color:white;
}
#home-icon
{
    text-decoration: none;
    color: #f3f4f6;
    font-weight: 600;
}

/* BANNER */
.banner_header
{
    width: 100%;
}
#banner
{
    margin-top: -155px;
    width: 100%;
}

/* BODY */
/* TẤT CẢ SẢN PHẨM*/
.sanpham
{
    display: inline-flex;
    margin-top: 19px;
}
.slider-sanpham 
{
    display: flex;
    text-align: center;
    background: #f5f5f5;
    padding: 11px;
    height: 117px;
}
.slider-sanpham li
{
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
    height: 100px;
    list-style: none;
    padding-left: 50px;
}
.allsanpham__left 
{
    margin-top: 10px;
}
.allsanpham_right 
{
    display: flex;
    margin-top: 1.5px;
    height: 131px;
    padding-left: 34px;
}
.allsanpham_right-item
{
    border: solid 8px #fff;
    background-color: #f5f5f5;
    padding: 7px 4.2px;
    margin: 0px -3px;
}
.allsanpham_right-item > .img-sanpham
{
    padding: 11px 37px;
}
p.right-title 
{
    text-align: center;
    margin-top: -7px;
    font-size: 14px;
    font-family: sans-serif;
}
.wrapper1 
{
    display: flex;
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.sanpham-right
{
    padding-left: 40px;
}
.sanpham-left
{
    padding-left: 83px;
}
.img-sanpham
{
    padding: 10px 10px;
}
img 
{
    max-width: 100%;
}
.info-sanpham:hover{
    color: #4caf50;
}
/* SẢN PHẨM BÁN CHẠY*/
.sanphambanchay
{
    margin-top: 19px;
}
.wrap 
{
    background: #f3f4f6;
    padding: 25px;
    position: relative;
}

li.noidung-sanphambanchay 
{
    font-size: 15px;
    width: 20%;
    padding: 0 10px;
}
ul.wrap-sanphambanchay 
{
    display: flex;
    list-style: none;
    margin-top: -23px;
    border: 2px solid green;
    padding: 20px;
}
.img-sanphambanchay 
{
    max-width: 100%;
    margin: 1px 0px;
    padding: -1px 0px;
}
.wrap-title span
{
    display: inline-block;
    background: #4caf50;
    font-size: 20px;
    color: #FFF;
    height: 49px;
    line-height: 49px;
    padding: 0 16px;
    position: relative;
    
}
.wrap-title 
{
    text-align: center;
    width: 100%;
    margin-top: -24px;
}
.info-sanpham 
{
    font-size: 11px;
    margin-top: -5px;
    padding-left: 5px;
    font-weight: bold;
    background-color: white;
    height: 25px;
    text-align: center;
    padding-top: 10px;
}
.price-sanpham 
{
    font-size: 15px;
    color: red;
    margin-top: 0px;
    background-color: white;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    padding-top: 16px;
}
.buy-sanpham 
{
    text-align: center;
    background: white;
    height: 30px;
    color: #94cc51;
    padding-top: 4px;
    width: 100px;
}
.buy-sanpham1 
{
    text-align: center;
    background: white;
    height: 30px;
    color: #94cc51;
    padding-top: 4px;
}
/* THANH NHÔM */
.box-thanhnhom 
{
    border: 2px solid #f5f5f5;
    margin: 20px 0;
    position: relative;
}
.box-thanhnhom p
{
    display: inline-block;
    width: 76px;
    height: 76px;
    font-size: 30px;
    text-align: center;
    line-height: 76px;
    position: relative;
    background: #5cb85c;
    color: #FFF;
}
.icon-desktop
{
    display: inline-block;
    font-family: FontAwesome;
}

.box-thanhnhom span 
{
    vertical-align: top;
    display: inline-block;
    padding: 0 20px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    position: relative;
    background: #5cb85c;
    color: #FFF;
    font-size: 20px;
    font-weight:bold;
}
.xemtatca
{
    right: 61px;
    top: 28px;
    position: absolute;
    color: #666666;
    font-style: italic;
    font-size: 16px;
    
}
.danhmuc-thangnhom-left
{
    padding-left: 124px;
    background-color:#f3f4f6;
}
.danhmuc-thangnhom-right
{
    padding-left: 712px;
    background-color:#f3f4f6;
}
.danhmuc-thangnhom-left span
{
    padding: 10px 10px;
}
.danhmuc-thangnhom-right span
{
    padding: 10px 140px;
}

/*HÌNH ẢNH SẢN PHẨM THANG NHÔM*/
.img-thanhnhom 
{
    margin: 0px -41px;
    padding: 1px 21px;
    max-width: 100%;
display: block;
}
.img-thangnhom1 
{
    width: 283px;
    padding-left: 19px;
}
ul.img-thangnhom2 
{
    width: calc(100% - 240px);
    padding: 0 10px;
    padding-left: 33px;
}
.img-thangnhom1 ,ul.img-thangnhom2, .img-thanhnhom
{
    display: flex;
    list-style: none;
}
.info-thangnhom
{
    margin: 10px -1px;
    font-weight: bolder;
    font-size: 13.6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.price-thangnhom
{
    margin-top: 10px;
    color: red;
}
.buy-thangnhom
{
    margin-top: 10px;
    color: #94cc51;
}
li.thangnhom2 
{
    width: 25%;
    padding: 0 10px;
}

/* THÔNG TIN KHÁC - VIDEO SẢN PHẨM*/
.wrapper-thongtinkhac
{
    display: flex;
    justify-content: space-between;
}
.thongtinkhac1
{
    margin-top: 19px;
}
.thongtinkhac2 
{
    margin-top: 20px;
}
.content-thongtinkhacchitiet1
{
    font-size: 14px;
    margin-top: 15px;
    line-height: 24px;
}
ul.thongtinkhacchitiet2 
{
    list-style: none;
    padding-left: 0px;
    line-height: 1.5;
}
.thongtinkhacchitiet2 li
{
    display: flex;
}
.img-thongtinkhacchitiet2, .content-thongtinkhacchitiet2
{
    margin: 5px;
}
.noidung-thongtinkhac2
{
    padding: 32px 0px;
    padding-left: 21px;
}
.xemtatca:hover
{
    color: orangered;
}
.info-thangnhom:hover
{
    color: #5cb85c;
}
.buy-sanpham:hover
{
    color: royalblue;
}
.buy-sanpham1:hover
{
    color: royalblue;
}
/* ----FOOTER---*/
.container1
{
    background: #173b51;
    color: #5f8288;
    height: 425px;
}
.info_footer1 > h4 
{
    color: #bfd4e5;
    padding-left: 59px;
    margin-bottom: -3px;
}
.info_footer2 > h4, .info_footer3 > h4
{
    color: #bfd4e5;
    margin-bottom: -8px;

}

.info_footer1, .info_footer2, .info_footer3
{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-left: 100px;
}
.info_footer1
{
    margin-top: 112px;
}
.noidung, li
{
    font-size: 15px;
}
.info_footer1, .contact__container
{
    list-style: none;
    padding-left: 58px;
}
#info
{
    margin-bottom: -22px;
    width: 100%;
}
ul {
    padding-left: 17px;
}
.noidung_container
{   
    width: 100%;
    margin-top: 35px;
}
img.img-item 
{
    max-width: none;
}
h3:hover
{
    color: brown;
}
